* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline-color: #a5b4fc;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('application2.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #e2e8f0; 
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-top: 5%;
  margin-left: 5%;
}

td, th {
  padding: 5px;
  border: 1px solid #0e0e0e;
  text-align: left;
}

#addbtn, #viewbtn {
  margin-top: 5%;
}

#addbtn {
  margin-right: 2%;
}

p {
  font-size: 16px;
  color: #6b7280;
}

h2 {
  color: #7732f8;
}

.signup-form {
  width: 480px;
  padding: 32px;
  border-radius: 8px;
  background-color: #dbe5e92d;
  box-shadow: 2px 4px 8px #b8bdc740;
  text-align: center;
}

.header {
  margin-bottom: 48px;
}

.header h1 {
  font-weight: bolder;
  font-size: 28px;
  color: #6366f1;
}

.input {
  position: relative;
  margin-bottom: 24px;
}

.input input {
  width: 100%;
  border: none;
  padding: 8px 40px;
  border-radius: 4px;
  background-color: #f3f4f6;
  color: #1f2937;
  font-size: 16px;
}

.input i {
  top: 50%;
  width: 36px;
  position: absolute;
  transform: translateY(-50%);
  color: #6b7280;
  font-size: 16px;
}

#actions {
  width: 80px;
  color: #5b06f8;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.signup-btn {
  width: 100%;
  border: none;
  padding: 8px 0;
  margin: 24px 0;
  border-radius: 4px;
  background-color: #7732f8;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

h1 {
  color: #7732f8;
}

#update {
  color: #7732f8;
  font-size: 23px;
}
