.services {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
  }
  
  .services h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  .service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .service {
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .service-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .service-description {
    font-size: 14px;
    color: #777;
  }
  